---  # https://github.com/mailhog/MailHog


  - name: Mailhog | Dependencies
    package: name="apache2-utils" state=present
    become: yes
    when: ansible_os_family == "Debian"
    tags:
      - mailhog

  - name: Mailhog | Dependencies
    package: name="httpd-tools" state=present
    become: yes
    when: ansible_os_family == "RedHat" and ansible_distribution == "CentOS"
    tags:
      - mailhog

  - block:
    - name: Mailhog | Pregenerate users
      shell: htpasswd -b -c {{ mailhog_authfile }} {{ item.name }} {{ item.password }}
      with_items: "{{ mailhog_users | default([]) }}"
      become: yes
      tags:
        - mailhog
        - skip_ansible_lint

    - name: Mailhog | Activate auth file
      set_fact:
         mailhog_internal_params: "-auth-file {{ mailhog_authfile }}"
      tags:
        - mailhog

    - name: Mailhog | Fix authfile permissions
      file:
        path: "{{ mailhog_authfile }}"
        owner: root
        group: nobody
        mode: "u=rwx,g=r,o=r"
      become: yes
      tags:
        - mailhog

    when: mailhog_users | bool

  - name: Mailhog | Download distribution
    get_url: url=http://github.com/mailhog/MailHog/releases/download/v{{ mailhog_version }}/MailHog_linux_amd64 dest=/usr/local/bin/MailHog mode=0755
    become: yes
    tags:
      - mailhog

  - name: Mailhog | Create upstart
    template:
      src: "{{ role_dir }}/templates/mailhog/mailhog.conf.j2"
      dest: /etc/init/mailhog.conf
      mode: 0644
    when: upstart_system == "upstart" and docker_test is not defined
    become: yes
    tags:
      - mailhog

  - name: Mailhog | Create systemd service
    template:
      src: "{{ role_dir }}/templates/mailhog/mailhog.service.j2"
      dest: /etc/systemd/system/mailhog.service
      mode: 0644
    when: upstart_system == "systemd" and docker_test is not defined
    become: yes
    tags:
      - mailhog

  - name: Mailhog | Restart
    service: name=mailhog state=restarted enabled="yes"
    when: upstart_system == "systemd" and docker_test is not defined
    become: yes
    tags:
      - mailhog
